/* set colors for joueur1  and joueur2 */
 body {
     font-family: 'Poppins', sans-serif;
 }
.joueur1{

    color:#E17327;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    width: 300px;
    position: relative;
    top: 5px;
  
}
.joueur2{

    color:#932191;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    width: 300px;
    position: relative;
    top: 5px;
   
    
}
/* Button new-game */
#new-game {
display: inline-block;
border: 2px solid #E17327;
background-color: #f4f4f4;
border-radius: 5px;
color: #333;
padding: 10px 15px;
position: relative;
top: 100px;
left: 94px;
transition: all 1s ease-in-out;
text-align: center;
animation: anim1 10s forwards ease-in-out;
}
#new-game:hover {
    background-color: #E17327;
    color: #f4f4f4;
    transform: rotate(360deg);
}
@keyframes anim1 {
    25% {
        background-color: #932191;
      
    }
   50% {
       background-color: #E17327;
   }
   75% {
       background-color:#932191 ;
   }
   100% {
       background-color: #E17327;
   }
}

h1{
    padding-left: 15px;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.container{
    max-width: 310px;
    margin: 20px auto;  /* Modified to auto */
}
.table-style{
    /* outer table styles */
    
    width: 300px;
    height: 300px;
    border: 8px solid rgb(123, 64, 171);
    margin-bottom: 2rem;
    
}
td{
 width: 100px;
 height: 100px;
 border: 5px solid rgb(123, 64, 171);
 text-align: center;
 font-size: 2rem;
}
#resultMessage {
    position: relative;
    bottom: 400px;
    left:10.5px;
    font-weight: 600;
    text-decoration: none;
    color: white; 
    text-align: center;
    animation: result 3s ease-in-out forwards;
    border-radius: 5px;
    height: 40px;
    padding-top: 10px;
    font-size: 1.8rem;
}

@keyframes result {
  
    50% {
        color: #932191;
        transform: translateY(100px) rotate(360deg);
        font-size: 2rem;
    }

   100% {
        color: #E17327;
        transform: translateY(320px);
}
}